.country{
    margin: 10px;
    background-color: aqua;
    padding: 10px;
    border: 2px solid rebeccapurple;
    border-radius: 10px;
}
.country img{
    width: 400px;
    height: 200px;
    border-radius: 10px;
}